@using Aurorae.Models.DbModels
@using Aurorae.Models.Gallery
@using Humanizer
@using Microsoft.EntityFrameworkCore
@inject ImageSourceProvider ImageSourceProvider
@inject PixivAdapter Pixiv
@inject AuroraeDb Db
@model FileViewModel
@{
    ViewData["Title"] = $"图库 - {Model.FileInfo.Name}";
    ViewData["Header"] = $"图库/{Model.ItemPath}";
    var file = Model.FileInfo;
    var (prev, parent, next) = Model.GetNeighbors();
    var collect = Db.FileMetas.AsNoTracking().FirstOrDefault(x => x.FilePath == Model.ItemPath)?.Favorite;
    var source = ImageSourceProvider.GetSource(Model.FileInfo);
    var info = source?.Name switch
    {
        "Pixiv" => await Pixiv.GetPixivIllustInfoAsync(source.Pid),
        _ => null
    };
}

<h1>@ViewData["Header"]</h1>

<div class="file-nav list-group list-group-horizontal-sm mb-2">
    @if (prev != null)
    {
        <a class="list-group-item list-group-item-action" href="/gallery/@prev.ItemPath">
            <i class="bi bi-chevron-left"></i> @prev.FileInfo.Name
        </a>
    }
    @if (parent != null)
    {
        <a class="list-group-item list-group-item-action" href="/gallery/@parent.ItemPath">
            <i class="bi bi-chevron-bar-up"></i> @parent.DirectoryInfo.Name
        </a>
    }
    @if (next != null)
    {
        <a class="list-group-item list-group-item-action" href="/gallery/@next.ItemPath">
            <i class="bi bi-chevron-right"></i> @next.FileInfo.Name
        </a>
    }
</div>

<div class="btn-toolbar mb-2 gap-2">
    <form>
        <input type="checkbox" class="btn-check" name="collect" checked="@collect"
               value="true" id="collect-btn" autocomplete="off" onchange="send(this.form)">
        <label for="collect-btn" class="btn btn-outline-warning">收藏</label>
    </form>
    @if (Model.IsImage)
    {
        <div class="btn-group">
            <a class="btn btn-primary" href="/resources/images/@Model.ItemPath" download>下载</a>
            <a class="btn btn-primary" href="/resources/images/@Model.ItemPath" target="_blank">打开</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" href="/resources/analyses/@Model.ItemPath/ffprobe.log" target="_blank">分析</a>
        </div>
    }
</div>

<p class="mb-2">
    <span class="badge text-bg-primary">@file.Length.Bytes().Humanize()</span>
    <span class="badge text-bg-primary">@file.Extension.TrimStart('.').ToUpper()</span>
    @if (source != null)
    {
        <a href="@source.Url"><span class="badge text-bg-success">@source.Name</span></a>
        @switch (source.Name)
        {
            case "Pixiv":
                PixivIllustInfo illust = info!;
                if (illust.Error != null)
                {
                    <span class="badge text-bg-danger">@illust.Error</span>
                    break;
                }
                <a href="https://www.pixiv.net/users/@illust.UserId"><span class="badge text-bg-warning">@illust.UserName</span></a>
                <span class="badge text-bg-secondary">@source.Index / @illust.PageCount</span>
                <span class="badge text-bg-secondary">@illust.CreateAt.ToString("f")</span>
                <span class="badge text-bg-secondary">@illust.CreateAt.Humanize()</span>
                foreach (string tag in illust.Tags ?? [])
                {
                    <span class="badge text-bg-@(tag.StartsWith("R-18") ? "danger" : "info")">@tag</span>
                }
                if (illust.IsOriginal)
                {
                    <span class="badge text-bg-success">原创</span>
                }
                break;
            default:
                break;
        }
    }
</p>

@if (Model.IsImage)
{
    <img src="/resources/images/@Model.ItemPath" id="image" class="zoomable mb-2" />
}
@if (Model.IsText)
{
    <div id="text" class="mb-2"></div>
}

@switch (source?.Name)
{
    case "Pixiv":
        PixivIllustInfo illust = info!;
        if (illust.Error != null) break;
        <h2>@illust.Title</h2>
        @Html.Raw(illust.Description)
        break;
    default:
        break;
}

@section Scripts {
    <script>window.ItemPath = @Json.Serialize(Model.ItemPath)</script>
    <script>
        function send(form) {
            const url = '/gallery/collect';
            const data = new FormData(form);
            data.set('name', window.ItemPath);
            fetch(url, { method: 'POST', body: data }).catch(e => console.error(e));
        }
    </script>
    @if (Model.IsImage)
    {
        <script src="~/lib/medium-zoom/medium-zoom.min.js"></script>
        <script>mediumZoom('.zoomable')</script>
    }
    @if (Model.IsText)
    {
        <script>
            fetch(`/resources/text/${window.ItemPath}`)
                .then(r => r.text())
                .then(t => document.getElementById('text').innerText = t);
        </script>
    }
}