@using Aurorae.Models.Gallery
@model FolderViewModel
@{
    ViewData["Title"] = $"图库 - {Model.DirectoryInfo.Name}";
    ViewData["Header"] = Model.IsRoot ? "图库" : $"图库/{Model.ItemPath}";
    var (prev, parent, next) = Model.GetNeighbors();
    var folders = Model.Folders.ToArray();
    var files = Model.Files.ToArray();
}

<h1>@ViewData["Header"]</h1>

@if (!Model.IsRoot)
{
    <div class="list-group list-group-horizontal-sm mb-2">
        @if (prev != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@prev.ItemPath">
                <i class="bi bi-chevron-left"></i> @prev.DirectoryInfo.Name
            </a>
        }
        @if (parent != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@parent.ItemPath">
                <i class="bi bi-chevron-bar-up"></i> @(!parent.IsRoot ? parent.DirectoryInfo.Name : "图库")
            </a>
        }
        @if (next != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@next.ItemPath">
                <i class="bi bi-chevron-right"></i> @next.DirectoryInfo.Name
            </a>
        }
    </div>
}

@if (folders.Length != 0)
{
    <div class="card mb-2">
        <div class="card-header border-0" role="button"
             data-bs-toggle="collapse" href="#folder-list">
            路径 @folders.Length
        </div>
        <div class="list-group list-group-flush border-top collapse show" id="folder-list">
            @foreach (FolderViewModel folder in folders)
            {
                <a class="list-group-item list-group-item-action" href="/gallery/@folder.ItemPath">
                    <i class="bi bi-folder2"></i> @folder.DirectoryInfo.Name
                </a>
            }
        </div>
    </div>
}

@if (files.Length != 0)
{
    <div class="card mb-2">
        <div class="card-header border-0" role="button"
             data-bs-toggle="collapse" href="#file-list">
            文件 @files.Length
        </div>
        <div class="list-group list-group-flush border-top collapse" id="file-list">
            @foreach (FileViewModel file in files)
            {
                <a class="list-group-item list-group-item-action" href="/gallery/@file.ItemPath">
                    <i class="bi bi-@file.IconName"></i> @file.FileInfo.Name
                </a>
            }
        </div>
    </div>

    <div class="d-flex flex-wrap gap-2">
        @foreach (FileViewModel file in files.Where(x => x.IsImage))
        {
            <a href="/gallery/@file.ItemPath">
                <div class="card border-0">
                    <img src="/resources/thumbnails/@file.ItemPath" class="card-img loading"
                         loading="lazy" height="240" onload="this.classList.remove('loading')">
                    <div class="card-img-overlay hover-only">
                        <h5 class="card-title p-1 bg-dark bg-opacity-50 rounded">@file.FileInfo.Name</h5>
                    </div>
                </div>
            </a>
        }
    </div>
}