@using Aurorae.Models.Gallery
@model FolderViewModel
@{
    ViewData["Title"] = $"图库 - {Model.DirectoryInfo.Name}";
    ViewData["Header"] = Model.IsRoot ? "图库" : $"图库/{Model.ItemPath}";
    var (prev, parent, next) = Model.GetNeighbors();
    var folders = Model.Folders.ToArray();
    var files = Model.Files.ToArray();
}

<h1>@ViewData["Header"]</h1>

@if (!Model.IsRoot)
{
    <div class="folder-nav list-group list-group-horizontal-sm mb-2">
        @if (prev != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@prev.ItemPath">
                <i class="bi bi-chevron-left"></i> @prev.DirectoryInfo.Name
            </a>
        }
        @if (parent != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@parent.ItemPath">
                <i class="bi bi-chevron-bar-up"></i> @(!parent.IsRoot ? parent.DirectoryInfo.Name : "图库")
            </a>
        }
        @if (next != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@next.ItemPath">
                <i class="bi bi-chevron-right"></i> @next.DirectoryInfo.Name
            </a>
        }
    </div>
}

@if (folders.Length != 0)
{
    <div class="card mb-2">
        <div class="card-header border-0" role="button"
             data-bs-toggle="collapse" href="#folder-list">
            路径 @folders.Length
        </div>
        <div class="list-group list-group-flush border-top collapse show" id="folder-list">
            @foreach (FolderViewModel folder in folders)
            {
                <a class="list-group-item list-group-item-action" href="/gallery/@folder.ItemPath">
                    <i class="bi bi-folder2"></i> @folder.DirectoryInfo.Name
                </a>
            }
        </div>
    </div>
}

@if (files.Length != 0)
{
    <div class="card mb-2">
        <div class="card-header border-0" role="button"
             data-bs-toggle="collapse" href="#file-list">
            文件 @files.Length
        </div>
        <div class="list-group list-group-flush border-top collapse" id="file-list">
            @foreach (FileViewModel file in files)
            {
                <a class="list-group-item list-group-item-action" href="/gallery/@file.ItemPath">
                    <i class="bi bi-@file.IconName"></i> @file.FileInfo.Name
                </a>
            }
        </div>
    </div>
}

<div class="btn-toolbar mb-2 gap-2">
    @if (files.Length != 0)
    {
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" onclick="toggleReverse()">倒序</button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" onclick="toggleShuffle()">乱序</button>
        </div>
    }
    <form method="get">
        <div class="input-group">
            <input type="checkbox" class="btn-check" name="recursive" checked
                   value="true" id="recursive-btn" autocomplete="off">
            <label for="recursive-btn" class="btn btn-outline-warning rounded-start">递归</label>
            <input type="search" class="form-control" name="filter" value="@Context.Request.Query["filter"]"
                   placeholder="检索">
            <button type="submit" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
        </div>
    </form>
</div>

@if (files.Length != 0)
{
    <div class="d-flex gap-2 mb-2" id="thumbnails">
        @await Html.PartialAsync("_CardList", files.Where(x => x.IsImage).Select(x => ("_ThumbnailCard", (object)x)))
    </div>
}

@section Scripts {
    <script>
        const thumbnails = document.querySelector('#thumbnails');
        if (thumbnails) {
            const order = Array.from(thumbnails.children);

            let shuffled = false;
            function toggleShuffle() {
                if (!shuffled) {
                    shuffle(thumbnails);
                } else {
                    restore(thumbnails);
                }
                shuffled = !shuffled;
            }

            function shuffle(parent) {
                for (var i = parent.children.length; i >= 0; i--) {
                    parent.appendChild(parent.children[Math.random() * i | 0]);
                }
            }

            function restore(parent) {
                order.forEach(el => parent.appendChild(el));
            }

            function toggleReverse() {
                thumbnails.classList.toggle('reverse');
            }
        }
    </script>
}