@using Aurorae.Models.Gallery
@model FolderViewModel
@{
    ViewData["Title"] = $"图库 - {Model.DirectoryInfo.Name}";
    ViewData["Header"] = Model.IsRoot ? "图库" : $"图库/{Model.ItemPath}";
    var (prev, parent, next) = Model.GetNeighbors();
    var folders = Model.Folders.ToArray();
    var files = Model.Files.ToArray();
}

<h1>@ViewData["Header"]</h1>

@if (!Model.IsRoot)
{
    <div class="folder-nav list-group list-group-horizontal-sm mb-2">
        @if (prev != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@prev.ItemPath">
                <i class="bi bi-chevron-left"></i> @prev.DirectoryInfo.Name
            </a>
        }
        @if (parent != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@parent.ItemPath">
                <i class="bi bi-chevron-bar-up"></i> @(!parent.IsRoot ? parent.DirectoryInfo.Name : "图库")
            </a>
        }
        @if (next != null)
        {
            <a class="list-group-item list-group-item-action" href="/gallery/@next.ItemPath">
                <i class="bi bi-chevron-right"></i> @next.DirectoryInfo.Name
            </a>
        }
    </div>
}

@if (folders.Length != 0)
{
    <div class="card mb-2">
        <div class="card-header border-0" role="button"
             data-bs-toggle="collapse" href="#folder-list">
            路径 @folders.Length
        </div>
        <div class="list-group list-group-flush border-top collapse show" id="folder-list">
            @foreach (FolderViewModel folder in folders)
            {
                <a class="list-group-item list-group-item-action" href="/gallery/@folder.ItemPath">
                    <i class="bi bi-folder2"></i> @folder.DirectoryInfo.Name
                </a>
            }
        </div>
    </div>
}

@if (files.Length != 0)
{
    <div class="card mb-2">
        <div class="card-header border-0" role="button"
             data-bs-toggle="collapse" href="#file-list">
            文件 @files.Length
        </div>
        <div class="list-group list-group-flush border-top collapse" id="file-list">
            @foreach (FileViewModel file in files)
            {
                <a class="list-group-item list-group-item-action" href="/gallery/@file.ItemPath">
                    <i class="bi bi-@file.IconName"></i> @file.FileInfo.Name
                </a>
            }
        </div>
    </div>
}

<div class="btn-toolbar mb-2 gap-2">
        @if (folders.Length != 0)
        {
            <div class="btn-group">
                @if (Model.IsRecursive)
                {
                    <a class="btn btn-primary active" href="?">递归检索</a>
                }
                else
                {
                    <a class="btn btn-primary" href="?recursive=true">递归检索</a>
                }
            </div>
        }
        @if (files.Length != 0)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-bs-toggle="button" onclick="toggleShuffle()">乱序</button>
            </div>
        }
</div>

@if (files.Length != 0)
{
    <div class="d-sm-flex flex-wrap gap-2 mb-2" id="thumbnails">
        @await Html.PartialAsync("_CardList", files.Where(x => x.IsImage).Select(x => ("_ThumbnailCard", (object)x)))
    </div>
}

@section Scripts {
    <script>
        const thumbnails = document.querySelector('#thumbnails');
        if (thumbnails) {
            const order = Array.from(thumbnails.children);

            let shuffled = false;
            function toggleShuffle() {
                if (!shuffled) {
                    shuffle(thumbnails);
                } else {
                    restore(thumbnails);
                }
                shuffled = !shuffled;
            }

            function shuffle(parent) {
                for (var i = parent.children.length; i >= 0; i--) {
                    parent.appendChild(parent.children[Math.random() * i | 0]);
                }
            }

            function restore(parent) {
                order.forEach(el => parent.appendChild(el));
            }
        }
    </script>
}